<%= render(HeroComponent.new(options: { classes: 'text-white bg-gray-900' })) do |c| %>
  <% c.headline(I18n.t('pages.home.title')) %>
  <% c.lede(I18n.t('pages.home.lede')) %>
<% end %>
<div class="grid grid-cols-1 md:grid-cols-3 gap-2 md:gap-4 mx-4">
  <% I18n.t('pages.home.features').each do |feature| %>
    <%= render(CardComponent.new) do |c| %>
      <% c.body do %>
        <%= image_tag feature[:image], class: 'h-52 mx-auto mb-6' %>
        <%= tag.h2 feature[:title], class: 'font-semibold text-3xl text-center text-gray-900 dark:text-white mb-4' %>
        <%= tag.p feature[:body], class: 'text-center leading-6 text-gray-900 dark:text-white' %>
      <% end %>
    <% end %>
  <% end %>
</div>
<%= render(HeroComponent.new) do |c| %>
  <% c.headline I18n.t('pages.home.cta.title') %>
  <%= render(ButtonToComponent.new(link: new_user_registration_path, method: :get, options: { data: { turbo: false } })) do %>
    <i class="fas fa-user-plus"></i>&nbsp;<%= I18n.t('pages.home.cta.button') %>
  <% end %>
<% end %>
