<%= turbo_frame_tag :password do %>
  <div class="border-2 border-solid border-gray-200 dark:border-gray-600 rounded-md my-2 p-2">
    <%= link_to change_password_path, class: 'hover:text-gray-500 ml-2' do %>
      <i class="fas fa-arrow-left fa-lg" title="Back"></i>
    <% end %>
    <%= form_for(@user, url: update_password_path, method: :put) do |f| %>
      <%= render(FormGroupComponent.new(form: f, field: :current_password, errors: @user.errors)) do |c| %>
        <%= c.label 'Current Password' %>
        <%= c.text html_options: { type: 'password', autofocus: true, autocomplete: 'new-password' } %>
        <small>we need your current password to confirm your changes</small>
      <% end %>
      <%= render(FormGroupComponent.new(form: f, field: :password, errors: @user.errors)) do |c| %>
        <%= c.label 'New Password' %>
        <%= c.text html_options: { type: 'password', autofocus: true, autocomplete: 'new-password' } %>
        <small>(<%= @minimum_password_length %> characters minimum)</small>
      <% end %>
      <%= render(FormGroupComponent.new(form: f, field: :password_confirmation, errors: @user.errors)) do |c| %>
        <%= c.label 'Confirm Password' %>
        <%= c.text html_options: { type: 'password', autofocus: true, autocomplete: 'new-password' } %>
        <small>leave blank if you don't want to change it</small>
      <% end %>
      <%= tag.div class: 'text-center mt-6 mb-4' do %>
        <%= render(ButtonTagComponent.new) do %>
          Change Password
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
